@import '../../sass/utils/mixin';

.pizzaList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    
    @include mq(tab) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      justify-content: center;
      justify-items: center;
      align-items: baseline;
    }
    
    @include mq(desk) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      justify-content: center;
      justify-items: center;
    }
  }

.pizzaListItem {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 15px;

    @include mq(mob) {
        max-width: 280px;
    }

    @include mq(tab) {
        max-width: 280px;
    }

    @include mq(desk) {
        max-width: 280px;
    }
}

.pizzaListItem {
    &:hover {
        box-shadow: 0px 2px 4px 0px #888;
      .pizzaListItem__image {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

.pizzaList {
    padding-top: 90px;
    padding-bottom: 10px;
}

.pizzaListItem__image {
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
    margin-bottom: 20px;
}

.pizzaListItem__title {
    font-family: 'Open Sans Semibold';
    font-size: 22px;
    margin-bottom: 10px;
}

.pizzaListItem__description {
    font-family: 'Open Sans Regular';
    font-size: 15px;
    margin-bottom: 20px;
    min-height: 55px;
}

.pizzaListItem__priceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pizzaListItem__price {
    color: var(--primaryTextColor);
}

.pizzaListItem__btn {
    font-family: Open Sans Regular;
    font-size: 17px;
    cursor: pointer;
    color: var(--secondaryTextColor);
    background-color: var(--buttonColor);
    padding: 7px;
    border-radius: 15px;
    border: none;
    height: 40px;
}

.pizzaListItem__btn:hover {
    border-radius: 15px;
    color: var(--buttonColor);
    background-color: var(--secondaryTextColor);
    border: 1px solid var(--buttonColor);
}

.pizzaListItem__cartControls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizzaListItem__cartButton_increment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: rgb(228, 228, 228);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.pizzaListItem__cartButton_increment:hover {
    color: var(--secondaryTextColor);
    background-color: #00bb1f;
}

.pizzaListItem__cartButton_decrement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: rgb(228, 228, 228);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.pizzaListItem__cartButton_decrement:hover {
    color: var(--secondaryTextColor);
    background-color: var(--buttonColor);
}

.pizzaListItem__cartButtonSvg {
    width: 20px;
    height: 20px;
  }

.pizzaListItem__cartQuantity {
    font-family: 'Open Sans Semibold';
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    height: 40px;
    padding: 0 10px;
}